.section-about .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-about h2 {
    margin-bottom: 50px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.about-list {
    display: flex;
}

.about-list__item{
    .about-list &:not(:last-child){
        margin-right: 30px;
    }
}


/*  встплывающее окно  */
.about-list__wrapper {
    position: relative;
}

.about-list__text {
    position: absolute;
    bottom:0;
    right:0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
}