// .footer-social {

//    @media screen and (min-width: 1200px) {
//       margin-right: 93px;
//    }
// }

.social-list {
   display: flex;
   margin-bottom: 60px;
   justify-content: center;

   @media screen and (min-width: 1200px) {
      margin-bottom: 0;
   }
}

.social-list__item{
   .social-list &:not(:last-child){
      margin-right: 10px;
   }
}

.join {
   display: block;
   text-align: center;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   color: var(--primary-white-color);
   margin-bottom: 20px;

   @media screen and (min-width: 1200px) {
      text-align: left;
   }
}

.social-list__icon {
   fill:var(--primary-white-color);
}

.social-list__link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);
   transition: background-color var(--animation);

   &:hover,
   &:focus {
      background-color: var(--accent-color);
   }
}