.burger-open-btn,
.burger-close-btn {
    display: block;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 0;

    &:hover,
    &:focus {
        fill: var(--accent-color);
        transition: fill var(--animation);
    }
}

.burger-open-btn {

    @media screen and (min-width:768px) {
        display: none;
    }
}

.burger-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
}

.mobile-menu {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--primary-white-color);
    box-shadow: 
        0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 2px 4px rgba(0, 0, 0, 0.08),
        0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateY(-100%) translateX(-50%);
    transition: transform var(--animation);

    @media screen and (min-width:768px) {
        display: none;
    }
}

.is-open {
    transform: translateY(0) translateX(-50%);
}

.mobile-navigation__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mobile-navigation__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    &:hover {
        color: var(--accent-color);
    }

}

.mobile-navigation {
    margin-bottom: 25vh;
}

.mobile-contact__link {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);

    &:hover {
        color: var(--accent-color);
    }

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mobile-contact__link--little {
    font-size: 24px;
    line-height: 1.16;
    color: var(--title-text-color);
}

.mobile-contact {
    margin-bottom: 64px;
}

.mobile-social {
    display: flex;
}

.mobile-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-right: 10px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.mobile-social__link--margin {
    margin-right: 0;
}

// .mobile-social__item:not(:last-child) {
//     margin-right: 20px;
// }

.mobile-social__item {
    display: flex;
    align-items: center;
    
    &:not(:last-child) {
        margin-right: 10px;
    }
    &:not(:last-child)::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 22px;
        background-color: rgba(33, 33, 33, 0.2);   
    }

    &:not(:last-child) {
        margin-right: 20px;
    }
}